<!doctype html>
<html lang="en" ng-app="stuffles">
<head>
<meta charset="utf-8">
<title>Stuffles</title>
<link rel="stylesheet" href="css/app.css" />
<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
</head>
<body>
	<p />
	<div class="container-fluid" ng-controller="SearchController">
		<div class="row-fluid">
			<form novalidate class="form-search">
				<span class="span2"></span>
				<div class="input-append span8">
					<input type="text" class="input-xxlarge search-query" ng-model="query" />
					<button type="submit" class="btn btn-primary" ng-click="search();">SEARCH</button>
				</div>
				<span class="span2"></span>
			</form>
		</div>
	</div>

	<div ng-view></div>

	<script src="lib/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>
	<script src="lib/bootstrap.min.js"></script>
</body>
</html>
